In [164]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [165]:
df = pd.read_csv('songs.csv')
df

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,135,256000,1,NaN,2008-11-26 01:43:26,2008-11-26 00:00:00,837,0,Rock,"[45, 58]",...,NaN,2484,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1832,NaN,0,NaN,[],Father's Day
1,136,256000,1,NaN,2008-11-26 01:43:35,2008-11-26 00:00:00,509,0,Rock,"[45, 58]",...,NaN,1948,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1498,NaN,0,NaN,[],Peel Back The Mountain Sky
2,151,192000,0,NaN,2008-11-26 01:44:55,NaN,192,0,Rock,[25],...,NaN,701,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,148,NaN,4,NaN,[],Untitled 04
3,152,192000,0,NaN,2008-11-26 01:44:58,NaN,193,0,Rock,[25],...,NaN,637,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,98,NaN,11,NaN,[],Untitled 11
4,153,256000,0,Arc and Sender,2008-11-26 01:45:00,2008-11-26 00:00:00,405,5,Rock,[26],...,NaN,354,en,Attribution-NonCommercial-NoDerivatives (aka M...,424,NaN,2,NaN,[],Hundred-Year Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17729,155063,320000,0,NaN,2017-03-24 19:40:43,NaN,283,3,Hip-Hop,"[21, 811]",...,NaN,1283,NaN,Attribution,1050,NaN,4,NaN,"['old school beats', '2017 free instrumentals'...",Been On
17730,155064,320000,0,NaN,2017-03-24 19:40:44,NaN,250,2,Hip-Hop,"[21, 811]",...,NaN,1077,NaN,Attribution,858,NaN,2,NaN,"['old school beats', '2017 free instrumentals'...",Send Me
17731,155065,320000,0,NaN,2017-03-24 19:40:45,NaN,219,3,Hip-Hop,"[21, 811]",...,NaN,1340,NaN,Attribution,1142,NaN,1,NaN,"['old school beats', '2017 free instrumentals'...",The Question
17732,155066,320000,0,NaN,2017-03-24 19:40:47,NaN,252,6,Hip-Hop,"[21, 811]",...,NaN,2065,NaN,Attribution,1474,NaN,3,NaN,"['old school beats', '2017 free instrumentals'...",Roy
17733,155247,320000,0,Fleslit,2017-03-29 01:40:28,NaN,211,3,Hip-Hop,"[21, 539, 811]",...,NaN,1379,NaN,Attribution,1025,NaN,0,Fleslit,"['instrumental trap beat', 'love', 'instrument...",Love In The Sky

In [166]:
df["genre_top"].value_counts()

genre_top
Rock       14182
Hip-Hop     3552
Name: count, dtype: int64

In [167]:
df = df.drop([
    "track_id", 
    "comments", 
    "composer", 
    "favorites", 
    "information", 
    "lyricist", 
    "number", 
    "publisher", 
    "tags"
], axis=1)
df

,bit_rate,date_created,date_recorded,duration,genre_top,genres,genres_all,interest,language_code,license,listens,title
0,256000,2008-11-26 01:43:26,2008-11-26 00:00:00,837,Rock,"[45, 58]","[58, 12, 45]",2484,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1832,Father's Day
1,256000,2008-11-26 01:43:35,2008-11-26 00:00:00,509,Rock,"[45, 58]","[58, 12, 45]",1948,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1498,Peel Back The Mountain Sky
2,192000,2008-11-26 01:44:55,NaN,192,Rock,[25],"[25, 12]",701,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,148,Untitled 04
3,192000,2008-11-26 01:44:58,NaN,193,Rock,[25],"[25, 12]",637,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,98,Untitled 11
4,256000,2008-11-26 01:45:00,2008-11-26 00:00:00,405,Rock,[26],"[26, 12]",354,en,Attribution-NonCommercial-NoDerivatives (aka M...,424,Hundred-Year Flood
...,...,...,...,...,...,...,...,...,...,...,...,...
17729,320000,2017-03-24 19:40:43,NaN,283,Hip-Hop,"[21, 811]","[811, 21]",1283,NaN,Attribution,1050,Been On
17730,320000,2017-03-24 19:40:44,NaN,250,Hip-Hop,"[21, 811]","[811, 21]",1077,NaN,Attribution,858,Send Me
17731,320000,2017-03-24 19:40:45,NaN,219,Hip-Hop,"[21, 811]","[811, 21]",1340,NaN,Attribution,1142,The Question
17732,320000,2017-03-24 19:40:47,NaN,252,Hip-Hop,"[21, 811]","[811, 21]",2065,NaN,Attribution,1474,Roy
17733,320000,2017-03-29 01:40:28,NaN,211,Hip-Hop,"[21, 539, 811]","[811, 539, 21]",1379,NaN,Attribution,1025,Love In The Sky

In [168]:
cat_features_mask = (df.dtypes == "object").values

In [169]:
num_columns = df.columns[~cat_features_mask]
scaler = StandardScaler()
for col in num_columns:
    df[col] = scaler.fit_transform(df[col].values.reshape(-1, 1))

In [170]:
cat_columns = df.columns[cat_features_mask]
label_encoder = LabelEncoder()
for col in cat_columns:
    df[col] = label_encoder.fit_transform(df[col])

In [171]:
df

,bit_rate,date_created,date_recorded,duration,genre_top,genres,genres_all,interest,language_code,license,listens,title
0,-0.048289,4,132,3.462905,1,264,168,0.085768,2,22,0.160288,4649
1,-0.048289,5,132,1.619191,1,264,168,0.028714,2,22,0.089124,10144
2,-1.088366,6,196,-0.162691,1,162,80,-0.104020,2,22,-0.198516,14477
3,-1.088366,7,196,-0.157069,1,162,80,-0.110832,2,22,-0.209170,14483
4,-0.048289,8,132,1.034599,1,181,117,-0.140956,2,16,-0.139710,6221
...,...,...,...,...,...,...,...,...,...,...,...,...
17729,0.991788,14143,196,0.348828,0,98,227,-0.042070,13,0,-0.006330,1525
17730,0.991788,14144,196,0.163332,0,98,227,-0.063998,13,0,-0.047239,11554
17731,0.991788,14145,196,-0.010921,0,98,227,-0.036003,13,0,0.013272,13553
17732,0.991788,14146,196,0.174574,0,98,227,0.041168,13,0,0.084010,11200
17733,0.991788,14151,196,-0.055890,0,95,229,-0.031852,13,0,-0.011657,8173

In [172]:
x = df.drop(["genre_top"], axis=1)
y = df["genre_top"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [173]:
dtc = DecisionTreeClassifier(random_state=10)
dtc.fit(x_train, y_train)

pred = dtc.predict(x_test)

In [175]:
class_rep_tree = classification_report(y_test, pred)

print("-------------------------------------------------------")
print("Decision Tree: \n", class_rep_tree)
print("-------------------------------------------------------")

-------------------------------------------------------
Decision Tree:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       698
           1       1.00      1.00      1.00      2849

    accuracy                           1.00      3547
   macro avg       1.00      1.00      1.00      3547
weighted avg       1.00      1.00      1.00      3547

-------------------------------------------------------